<section id="user">
    <div class="user-info">
        <div class="user-logo">
            <img src="/images/user-logo.webp">
        </div>
        <h1 class="user-email">{{user.email}}</h1>
        <h2 class="created-blogs-count">Total Created Blogs: {{createdBlogsCount}}</h2>
        <h2 class="followed-blogs-count">Total Followed Blogs: {{followedBlogsCount}}</h2>
    </div>
</section>
<section class="profile-blogs">
    <div class="created-blogs">
        <h2 class="section-title">Created Blogs</h2>
        {{#each createdBlogs}}
            <div class="info">
                <h2 class="title">{{title}}</h2>
                <h4 class="genre">{{category}}</h4>
                <div class="see-more">
                    <a href="/blogs/{{id}}/details">See More...</a>
                </div>
            </div>
        {{else}}
        <!-- If there are no created blogs-->
            <h2 class="no-blog-in-profile">You haven't published a blog yet...</h2>
        {{/each}}
    </div>

    <div class="followed-blogs">
        <h2 class="section-title">Followed Blogs</h2>
        {{#each followedBlogs}}
        <div class="info">
            <h2 class="title">{{title}}</h2>
            <h4 class="genre">{{category}}</h4>
            <div class="see-more">
                <a href="/blogs/{{id}}/details">See More...</a>
            </div>
        </div>
        {{else}}
        <!-- If there are no followed blogs-->
        <h2 class="no-blog-in-profile">You have no blogs followed yet…</h2>
        {{/each}}
    </div>

</section>