<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{#if pageTitle}}{{pageTitle}}{{else}}Mind Blog{{/if}}</title>
</head>

<body>
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}

    <div class="navigation">
        <nav>
            <img src="/images/logo.jpg">
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="/">Home</a></li>
                <li><a href="/blogs/catalog">Blogs</a></li>

                <!--For login users-->
                {{#if isAuthenticated}}
                <li><a href="/users/profile">Profile</a></li>
                <li><a href="/blogs/create">Create Blog</a></li>
                <li><a href="/users/logout">Logout</a></li>

                <!--For guest users-->
                {{else}}
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>

    <main>
        {{{body}}}
    </main>
    <footer>Back-End 2025</footer>

</body>
</html>