<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>{{#if pageTitle}}{{pageTitle}}{{else}}Myth & Legends{{/if}}</title>
</head>

<body>
    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}

    <div id="wrapper">
        <header>
            <!-- Navigation -->
            <nav>
                <div>
                    <a href="/">Home</a>
                    <a href="/myths/dashboard">Dashboard</a>
                    <a href="#">Report</a>
                </div>

                {{#if isAuthenticated}}
                <!-- Logged-in users -->
                <div class="user">
                    <a href="/myths/create">Add Myth</a>
                    <a href="/users/logout">Logout</a>
                </div>
                {{else}}
                <!-- Guest users -->
                <div class="guest">
                    <a href="/users/login">Login</a>
                    <a href="/users/register">Register</a>
                </div>
                {{/if}}
            </nav>
        </header>

        {{{body}}}
    </div>
    <footer>SoftUni JS Back-End Exam 2025 &copy;</footer>
</body>

</html>