<main class="report-section">
    <section id="report-section">
        <h2>Report</h2>
        {{#if latest.length}}
        <ul class="report-list">
            <!-- Display a li with information about every post (if any)-->
            {{#each latest}}
            <ul id="report-list">
                <li class="report-card">
                    <img src="{{imageUrl}}" />
                    <h3>{{name}}</h3>
                    <p><strong>Origin:</strong> <br>{{origin}}</p>
                    <p><strong>Role:</strong> <br>{{role}}</p>
                    <p><strong>Symbol:</strong> <br>{{symbol}}</p>
                    <p><strong>Era:</strong> <br>{{era}}</p>
                    <p><strong>Created on:</strong> <br>{{createdAt}}</p>
                    <p><strong>Owner:</strong> <br> {{owner.email}}</p>
                </li>
            </ul>
            {{/each}}
        </ul>
        {{else}}
        <!-- Display an h2 if there are no posts -->
        <h2 id="no-post">There are no myths and legends! </h2>

        <!-- Display an h2 if an error occurs -->
        <!-- <h2 id="no-post">Error loading report! </h2> -->
        {{/if}}
    </section>
</main>